:root {
    --main-color: #757575;
    --second-color: #212121;
    --third-color: #FFFFFF;
    --accent-color: #2196F3;
    --bg-color: #F5F4FA;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.active-link {
    color: var(--accent-color);
}

/* Header */

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
    text-decoration: none;
}

.logo .logo-title {
    color: var(--accent-color);
}

.nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    text-decoration: none;  
}

.nav:hover, .nav:focus {
    color: var(--accent-color);
}

.header-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration: none;
}

.header-contact:hover, .header-contact:focus {
    color: var(--accent-color);
}

.list {
  list-style-type: none;
}

/* Main */

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-color);
    background-color: var(--accent-color);

    cursor: pointer;
}

.features-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--second-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--second-color);
}

.team-section {
    background-color: var(--bg-color);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--second-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* Footer */

.footer {
    background-color: #2F303A;
}

.logo .logo-footer {
    color: var(--third-color);
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--third-color);
}

.address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.address-link:hover, .address-link:focus {
    color: var(--accent-color);
}






/* Portfolio */

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);

    cursor: pointer;
}

.filter:hover, .filter:focus {
    background-color: var(--accent-color);
    color: var(--third-color);
}

.project-link {
    text-decoration: none;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--main-color);
}